= wrap_layout :layout do
  .tutorial
    h2
      = link_to current_article.title, "http://ogldev.atspace.co.uk/www/tutorial#{ current_article.data[:number] }/tutorial#{ current_article.data[:number] }.html"
    = yield
  #disqus_thread
  javascript:
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ogltutor'; // required: replace example with your forum shortname

    var disqus_config = function () {
      this.page.identifier = #{current_article.data[:number].to_json};
      this.page.title = #{current_article.title.to_json};
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  noscript
    Please enable JavaScript to view the
    a href="http://disqus.com/?ref_noscript" comments powered by Disqus.

  a.dsq-brlink href="http://disqus.com"
    comments powered by
    span.logo-disqus Disqus
