<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Уроки по OpenGL с сайта OGLDev - $title$</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
</head>

<body>
    <div class="row header">
        <div class="large-12 columns">
            <div class="nav-bar right">
                <ul class="button-group">
                    <li><a href="/" class="button nav-left">Содержание</a></li>
                    <li><a href="/instr.html" class="button">Инструкции</a></li>
                    <li><a href="/cont.html" class="button nav-right">Контакты</a></li>
                </ul>
            </div>
            <h1><small>Уроки по OpenGL с сайта OGLDev</small></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            $body$
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns text-right">
            <hr>
            Шедевр, созданный с помощью <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            <br/><small><a href="https://github.com/triplepointfive/hakydev">Исходный код</a></small>
        </div>
    </footer>
</body>
</html>